app = "follow-up"
primary_region = "lax"

[build]

[env]
  PORT = "9090"

[[services]]
  protocol = "tcp"
  internal_port = 9090

  [services.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 40

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.http_checks]]
    path = "/health"
    method = "GET"
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"

